@media screen and (max-width: 980px) {
    .post-text {
        font-size: 54px;
    }
    .post-link {
        font-size: 34px;
    }
    .text-element {
        font-size: 38px;
    }
    .text-menu-title :first-child {
        font-size: 34px;
    }
    .menu-box :first-child {
        font-size: 34px;
    }
    .menu-box :last-child {
        font-size: 34px;
    }
    .the-drinks {
        font-size: 26px;
    }
    .before {
        font-size: 24px;
    }
    .price-menu {
        font-size: 16px;
    }
    .navbar-nav {
        font-size: 14px;
        padding: 0 30px;
    }
    .navbar-logo {
        padding: 0 10px 0 0;
    }
    .navbar-nav-item {
        margin-right: 10px;
    }
}

@media screen and (max-width: 640px) {
    .navbar-nav {
        display: none;
    }
    .navbar-logo {
        display: none;
    }
    .navbar-none {
        display: block;
    }
    .post-imge-item {
        width: 100%;
        height: 150px;
        padding: 0;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .post-imge-box {
        flex-flow: column wrap;
    }
    .mobile-btn {
        display: flex;
    }
    .logo-menu {
        display: none;
    }
    .great-menu {
        display: flex;
        flex-direction: column;
    }
    .great-menu--block {
        width: 100%;
    }
    .post-text {
        font-size: 36px;
    }
    .post-link {
        font-size: 24px;
    }
    .text-element {
        font-size: 36px;
    }
    .the-drinks {
        font-size: 30px;
    }
    .post-isLove :last-child {
        opacity: 0;
    }

}

@media screen and (max-width: 320px) {
    .navbar-content-title {
        font-size: 12px;
        padding: 10px;
    }
    .navbar-toggler {
        padding: 5px;
    }
    .navbar-toggler-line {
        height: 2px;
        width: 19px;
        margin: 5px 8px
    }
    .fas {
        font-size: 26px;
    }
    .post-text {
        font-size: 16px;
    }
    .post-link {
        font-size: 14px;
    }
    .post-isLove :nth-child(1) {
        padding: 34px 0 15px 38px;
    }
    .post-isLove :nth-child(2) {
        padding: 0 0 17px 38px;
    }
    .post-isLove :last-child {
        display: none;
    }
    .post-isLove {
        height: 180px;
    }
    .submenu a {
        font-size: 12px;
        padding: 10px;
    }
    .submenu {
        bottom: -165px;
        width: 158px;
    }
    .post-imge-box {
        margin-top: 0;
    }
    .text-element {
        font-size: 20px;
        margin: auto;
    }
    .mobile-btn {
        width: 70px;
        height: 76px;
    }
    .post-imge-item {
        height: 76px;
        margin-bottom: 0;
    }
    .mobile-btn i {
        font-size: 20px;
    }
    .text-menu-title :first-child {
        font-size: 20px;
    }
    .menu-title {
        padding: 25px 0 0 2px;
    }
    .text-menu-title :last-child {
        font-size: 10px;
    }
    .title-box {
        font-size: 20px;
    }
    .the-drinks {
        font-size: 15px;
    }
    .before {
        font-size: 13.5px;
    }
    .price-menu {
        font-size: 8.8px;
    }

    .menu-wine {
        background-position: 20px 98px;
    }
    .menu-coffee {
        background-position: 3px 147px;
    }
    .menu-snacks {
        background-position: 13px 8px;
    }
    .menu-beer {
        background-position: 16px 53px;
    }
    .footer :first-child {
        display: none;
    }
    .footer :last-child {
        font-size: 12px;
        padding: 12px;
    }

    .icon {
        background-size: 95% auto;
    }


}