.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    background-color: #fff;
}

.navbar-logo {
    padding: 0 38px;
}
.navbar-nav-item{
    margin-right: 32px;
}
.navbar-nav-link{
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
}

.section-header {
    background-color: white;
}

.post-isLove {
    background-image: url("../imge/header1.jpg");
    background-size: cover;
    background-position: center;
}

.post-text {
    font-size: 62px;
    display: block;
    color: #ffff;
}

.post-isLove :nth-child(1) {
    padding: 64px 0 24px 38px;
 }

.post-isLove :nth-child(2) {
    padding: 0 0 64px 38px;
}

.post-link {
    font-size: 38px;
    color: #fff;
    padding-left: 38px;
}

.post-isLove :last-child {
    display: block;
    font-size: 62px;
    text-align: center;
    color: #ffff;
    padding: 285px 0 55px 0;
}

.post-imge-box {
    display: flex;
    margin-top: 8px;
}

.post-imge-item {
    background-image: url("../imge/header2.jpg");
    background-size: cover;
    background-position: center;
    width: 33.3333333%;
    padding: 182px 0;
    color: #ffff;
    text-align: center;
}

.post-imge-item:nth-child(1) {
    background-image: url("../imge/header3.jpg");
    background-size: cover;
    background-position: center;

}

.post-imge-item:nth-child(2) {
    background-image: url("../imge/header4.jpg");
    background-size: cover;
    background-position: center;
}

.text-element {
    font-size: 43px;
}

.text-menu-title :first-child {
    font-size: 40px;
    color: #3f4043;
    text-transform: uppercase;
}

.text-menu-title :last-child {
    font-size: 20px;
    color: #d2d3d5;
    padding-bottom: 20px;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    padding: 78px 0 20px 20px;
    background-color: white;
}

.title-box {
    display: table-cell;
    background-color: #acd8ad;
    text-transform: uppercase;
    width: 50%;
    padding: 15px;
    font-size: 34px;
}

.title-box-menu {
    background-color: #3f4043;
}

.icon {
    background-image: url("../imge/spritesheet.png");
    display: inline-block;
    width: 61px;
    height: 61px;
}

.the-drinks {
    text-transform: uppercase;
    font-size: 30px;
}
.great-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-column-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-column-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.menu-snacks {
    background-position: 0 0;
}

.menu-coffee {
    background-position: -12px 205px;
}

.menu-wine {
    background-position: 0 128px;
}

.menu-beer {
    background-position: 0 63px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #acd8ad;
}

.footer :last-child {
   text-align: center;
    color: #ffff;
    font-size: 18px;
    padding: 0 38px;
}

.footer :first-child {
    padding: 7px 38px;
}

.before {
    font-size: 27px;
    color: #3f4043;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.before :first-child {
    display: flex;
    justify-content: flex-end;
}

.price-menu {
    font-size: 17.5px;
    color: #3f4043;
    display: block;
}

.great-menu--block {
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 20px;
}
.first {
    padding-left: 15px;
}
.great-menu--block:last-child > div,
.great-menu--block:last-child > span {
    padding-left: 15px;
}

.bom-menu-text::before {
    content: "•";
}

.price {
    font-weight: bold;
}
.navbar-none {
    display: none;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #373c3f;
    position: relative;
}
.navbar-content-title {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 40px;
}
.navbar-toggler {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 33px;
}
.navbar-nav{
    display: flex;
    padding: 0 38px;
}

.navbar-nav-link{
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
}
.submenu-btn {
    display: none;
}
.navbar-toggler-line {
    display: block;
    background-color: white;
    height: 7px;
    width: 40px;
    margin: 4px 0;
}

.submenu.open {
    display: block;
}

.fas {
    font-size: 39px;
    color: #fff;
    padding: 0 7px;
}

.mobile-btn {
    display: none;
    width: 140px;
    height: 150px;
    background-color: #acd8ad;
}

.mobile-btn i {
    font-size: 40px;
    margin: auto;
}

.btn-menu.close {
    display: none;
}

.submenu-btn.open {
    display: block;
}

.submenu {
    bottom: -225px;
    display: none;
    background: #fff;
    position: absolute;
    right: 0;
    width: 242px;
}

.submenu a {
    font-size: 14px;
    color: #444444;
    padding: 15px;
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
    border-bottom: 1px solid #e9dbdb;
}

.submenu li:hover {
    background: rgba(28, 25, 23, 0.2);
    color: rgba(31, 25, 23, 0.4);

}